.about-us {
  background-color: $about-us-background-color;
  padding: 60px 0;

  & .container .title {
    margin-bottom: 30px;
  }
  &-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: $subtitle;
  }
  &-description {
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: $description;
  }
  &-list-item {
    padding-bottom: 24px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.about-us-list-item img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-us-list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .about-us-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .about-us-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    padding: 95px 0;

    & .container .title {
      margin-bottom: 50px;
    }
    &-list-item {
      padding-bottom: 30px;
    }
    &-list-item:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
