.about-us {
  background-color: $about-us-background-color;
  padding: 95px 0;

  & .container .title {
    margin-bottom: 50px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
  }
  &-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: $subtitle;
  }
  &-description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: $description;
  }
  &-list-item {
    padding-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
