.header {
  border-bottom: 1px solid #ececec;
  padding: 16px 0;
  position: relative;
  @media screen and (min-width: 768px) {
    padding: 25px 0;
  }
}
.navigation {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.header-btn {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;

  @media screen and (min-width: 768px) {
    display: none;
  }

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &:hover .icon-cross,
  &:focus .icon-crossb,
  &:active .icon-cross,
  &:hover .icon-menu,
  &:focus .icon-menu,
  &:active .icon-menu {
    fill: $accent-color;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 393px;
    &.is-open {
      display: block;
    }
  }
  .nav-list {
    text-align: center;
    margin: 60px 0;
  }
  .nav-list-items:not(:last-child) {
    margin-bottom: 40px;
  }
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $subtitle;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}
.indicator-page {
  color: $accent-color;
  position: relative;
  &::after {
    position: absolute;
    top: 100%;
    right: 0%;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    margin-top: 28px;
    @media screen and (max-width: 767px) {
      margin-top: 8px;
    }
  }
}
.header-address {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $description;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    color: $accent-color;
  }
  &:focus .address-icon-mail,
  &:focus .address-icon-phone,
  &:active .address-icon-mail,
  &:active .address-icon-phone,
  &:hover .address-icon-mail,
  &:hover .address-icon-phone {
    fill: $accent-color;
  }
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .header-address-items:not(:last-child) {
    margin-bottom: 16px;
  }
}
.address-icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  color: $description;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-icon-phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  color: $description;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .menu-container {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
  }
  .address {
    margin-left: 47px;
  }
  .nav-list-items:not(:last-child) {
    margin-right: 50px;
  }
  .header-address-items:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-address {
    display: flex;
  }
  .header-address-items:last-child {
    margin-left: 30px;
  }
  .address {
    margin-left: 270px;
  }
  .header-address-items:not(:last-child) {
    margin-bottom: 0px;
  }
}
