.our-advantages {
  padding: 60px 0;
}

.advantages-list-item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &:first-child::before {
    display: block;
    content: '';
    width: 100%;
    height: 120px;
    background-color: $background-button;
    background-image: url('../images/antenna.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(2)::before {
    display: block;
    content: '';
    width: 100%;
    height: 120px;
    background-color: $background-button;
    background-image: url('../images/clock.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(3)::before {
    display: block;
    content: '';
    width: 100%;
    height: 120px;
    background-color: $background-button;
    background-image: url('../images/diagram.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &:last-child::before {
    display: block;
    content: '';
    width: 100%;
    height: 120px;
    background-color: $background-button;
    background-image: url('../images/astronaut.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantages-list-title {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $subtitle;
}
.advantages-list-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $description;
}
@media screen and (min-width: 768px) {
  .advantages-list-item {
    width: calc((100% - 4 * 15px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  .advantages-list-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list-item {
    width: calc((100% - 8 * 15px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .our-advantages {
    padding: 96px 0;
  }
}
