.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    border: 1px solid #eeeeee;
    width: 370px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  &-name {
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $subtitle;
  }
  &-discription {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $description;
  }
  &-wrapper {
    position: relative;
    overflow: hidden;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-overlay-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1.556;
    color: $title-dark-theme-color;
  }
  &-item:hover &-overlay,
  &-link:focus &-overlay {
    transform: translateX(0%);
  }
}
