.services {
  padding-bottom: 95px;
  & .container .title {
    margin-bottom: 40px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
  }
  &-list-img-wrapper {
    position: relative;
  }
  &-list-description-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 374px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  &-list-description {
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.143;
    text-transform: uppercase;
    color: $description-dark-theme-color;
  }
}
