.title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: $subtitle 1;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}
