.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;

    .our-advantages & .list {
      display: flex;
      flex-wrap: wrap;
    }
    .our-advantages & .list:nth-child(2n) {
      margin-right: -30px;
    }
    .about-us & .about-us-list {
      display: flex;
      flex-wrap: wrap;
    }
    .clients & .list:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    .footer & {
      display: flex;
    }
    .our-advantages & .list:last-child {
      margin-right: -30px;
    }
    .about-us & .about-us-list {
      display: flex;
      justify-content: space-between;
    }
  }
}
