$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$accent-color: #2196f3;
$title-light-theme-color: #212121;
$title-dark-theme-color: #ffffff;
$subtitle: #212121;
$description: #757575;
$description-address-color: rgba(255, 255, 255, 0.6);
$description-dark-theme-color: #ffffff;
$background-button: #f5f4fa;
$footer-background-color: #2f303a;
$about-us-background-color: #f5f4fa;
